
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MediKeep</title>
<body>
<h1>MediKeep</h1><h4>Medical Record System</h4>
<p><a href="login doctor.html" style="color:blue">Log In</a>|<a href="register doctor.html" style="color:blue">Register</a></p>

<form action="/register" method="post" style="border:2px solid #ccc">
  <div class="container">
    <h1>Register Now</h1>
    <p>Fill in this form to create an account.</p>
    <hr>

	<label><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" id="fname" name="fname" required>
	<br>

	<label><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" id="lname" name="lname" required>
	<br>

	<label><b>Contact No.</b></label>
    <input type="number" placeholder="Enter Number" id="contactno" name="contactno" required>
	<br>

    <label><b>Email</b></label>
    <input id="emailAddress" type="email" id="email" name="email" required>
	<br>

    <label><b>Create a Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required>
	<br>

    <label><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" id="cpassword" name="cpassword" required>
    <br>
	<label>
      <input type="checkbox" checked="unchecked" id="accept" name="accept" style="margin-bottom:15px">I accept the terms and conditions.
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:blue">Terms & Privacy</a>.</p>

    <div class="container"style="background-color:#f1f1f1">
      <button onclick="/register">Sign Up</button>
	  <button type="button" class="cancelbtn">Cancel</button>
    </div>
  </div>
</form>

</body>
